{% load static tailwind_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
</head>
<body>
<nav class="navbar bg-primary text-primary-content shadow">
    <div class="navbar-start">
        <a class="link link-hover font-bold text-2xl mx-4">Django Tweet App</a>
    </div>
    <div class="navbar-end">
        <a class="btn">Button</a>
    </div>
</nav>
<main class="bg-base-300 h-[calc(100vh-4rem)] p-6">
    {% block content %}{% endblock %}
</main>
</body>
</html>